apiVersion: 1
providers:
  - name: 'Ansible Monitoring'
    orgId: 1
    type: file
    disableDeletion: false
    allowUiUpdates: true
    options:
      path: /etc/grafana/provisioning/dashboards/ansible
