global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - 'localhost:9090'

  - job_name: 'centos-ob-node-exporter'
    file_sd_configs:
      - files:
          - '/etc/prometheus/file_sd/centos_ob_node_targets.json'
        refresh_interval: 30s
