startDelaySeconds: 0
ssl: false
lowercaseOutputName: true
lowercaseOutputLabelNames: true
whitelistObjectNames:
  - "kafka.server:*"
  - "kafka.controller:*"
  - "kafka.network:*"
  - "kafka.log:*"
  - "kafka.raft:*"
  - "java.lang:*"
rules:
  - pattern: '.*'
