[Unit]
Description=Apache ZooKeeper (bundled with Kafka)
Requires=network.target
After=network.target

[Service]
Type=simple
User=kafka
Group=kafka
ExecStart={{ kafka_workspace }}/bin/zookeeper-server-start.sh {{ kafka_workspace }}/config/zookeeper.properties
ExecStop={{ kafka_workspace }}/bin/zookeeper-server-stop.sh
Restart=on-failure
RestartSec=5
TimeoutStopSec=30
KillMode=process
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
