# Copy to terraform.tfvars and update values as needed.
subscription_id = "8d6bd1eb-ae31-4f2c-856a-0f8e47115c4b"

location            = "westus"
resource_group_name = "rds-prod"
vnet_name           = "rds-prod-vnet"
subnet_name         = "rds-prod-subnet"
nsg_name            = "rds-prod-nsg"
manage_network_security_rules = true
manage_subnet_nsg_association = true

allowed_cidr     = "10.0.0.0/16"
control_ssh_port = 6666

kafka_instance_count    = 3
kafka_vm_size           = "Standard_D8s_v5"
enable_availability_zones = true
kafka_vm_zone           = "1"
kafka_admin_username    = "centosmadmin"
kafka_data_disk_size_gb = 1024
use_premium_v2_disks = true
kafka_data_disk_iops = 3000
kafka_data_disk_throughput_mbps = 125
